.video-card {
  border: none;
}

p {
  color: var(--white-color);
}
.border-skin,
.text-overlay-card-img-box {
  width: 38rem;
}
.text-overlay-card-img-box img {
  width: 95%;
  object-fit: cover;
}
.card-character{
  font-size:2rem
}
 
.total_product_text {
  color: var(--primary-color);
}
.card-desc {
  color: var(--white-color);
}
.card-footer-box > a {
  color: var(--white-color);
}
.card__icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__modal > span {
  font-size: 2rem;
}
.card__modal > span:hover {
  color: var(--primary-color);
}
