.playlistmodal-page{
    position: absolute;
}

.playlistModal{
    position: fixed;
    width: 60rem;
    height: 35rem;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    top: calc(-50vh + 50%);
    bottom: calc(-50vh + 50%);
    margin: auto;
    z-index: 999;
    background-color: var(--dark-black);
    transition: 0.8s;
    color: var(--primary-color);
    border: 1px solid var( --primary-color);
}
.playlist_head{
    margin: 1rem 0;
    text-align: center;
}
.hr{
   margin: 1rem 0
}
.create__playlist__input{
   width: 50%;
   padding: 1rem;
}

.playlist__form__textarea{
  max-height: 10rem;
  max-width: 100%;
}

.playlist__form__label{
    font-size: 2rem;
}

.button{
    padding: 1rem 2rem;
    border: none;
}
.primary_btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    
}
.secondary_btn{
    color: var(--primary-color);
    background: transparent;
    border: 1px solid var(--primary-color);
}
.align__vertical{
    display:flex;
    flex-direction: column;
    gap: 0.3rem;
}
.align__horizontal{
    display:flex;
    gap: 2rem;
    margin-top: 4rem;
    justify-content:center;
}
.playlist_name{
    color: var(--primary-color);
}
.playlist__name__outer{
    max-height: 10rem;
    overflow-y: scroll;
    margin-top: 1rem;
}
.playlist__name__box{
    display: flex;
    gap: 1rem;
    justify-content: center;
    gap: 1rem;
    align-items: center;


}
label{
    font-size:3rem;
}
