.playlistmodal-page{
    position: absolute;
}
/* .playlistModal{
    background-color: var(--dark-black);
    width: 60%;
    position:absolute;
    top: 50%;
    left: 50%;
    border: 1px solid var( --primary-color);
    height: 30%;
    z-index: 99;
    border-radius: 1rem;
    padding: 2rem 10rem;
} */
.playlistModal{
    position: fixed;
    width: 60rem;
    height: 30rem;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    top: calc(-50vh + 50%);
    bottom: calc(-50vh + 50%);
    margin: auto;
    z-index: 999;
    background-color: var(--dark-black);
    transition: 0.8s;
    color: var(--primary-color);
    border: 1px solid var( --primary-color);
}
.hr{
   border-top: 1px solid var(--primary-color);
   margin: 1rem 0
}
.playlistModal input{
   width: 70%;
    padding: 1rem;
}
.playlist__form{
    /* display: flex;
    flex-direction: column; */
    gap: 2rem;
}
.playlist__form__textarea{
  max-height: 10rem;
  max-width: 100%;
}

.playlist__form__label{
    font-size: 2rem;
}

.button{
    padding: 1rem 2rem;
    border: none;
}
.primary_btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    
}
.secondary_btn{
    color: var(--primary-color);
    background: transparent;
    border: 1px solid var(--primary-color);
}
.align__vertical{
    display:flex;
    flex-direction: column;
    gap: 0.3rem;
}
.align__horizontal{
    display:flex;
    gap: 2rem;
    margin-top: 4rem;
    justify-content:center;
}
.playlist_name{
    color: var(--primary-color);
}