:root {
    --dark-black: #050505;
    --light-black: #4d4447;
    --white-color: #ffffff;
    --primary-color: #AB542F;
}


.navbar {
display: flex;
justify-content:space-between;
height: 9vh;
/* align-items: center; */
}
.navbar__logo{
  display: flex;
  gap: 1rem;
  align-items:center;
}
.navbar__media{
    height: 100%;
    width: 10rem;
}
.navbar__media img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.navbar__logoname{
    color: var(--primary-color);
    font-family: 'Fredoka One', cursive;
    font-size: 4rem;
}
.navbar__genre{
display: flex;
gap: 2rem;
margin: auto;
align-items: center;
}

.navbar__text {
 color: var(--white-color);
 font-size: 2rem;
}
.navbar__profile{
    margin: auto 0;
}

.navbar__badge{
    /* border: 1px solid #ffff; */
    padding :  1rem 1.5rem;
    position: relative;
}
.navbar__badge_number{
    position: absolute;
    top: 0;
    right :0;
    color: var(--primary-color)
}