.banner-boxy{
display: grid;
grid-template-areas:
 "details media media"
;
}
.banner-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  grid-area: details;
}
.banner-heading {
  margin-top: 5rem;
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  width: 65%;
}
.explore-btn{
  width: 20rem;
  height: 5rem;
  font-family: "Lato", sans-serif;
}
.banner-images {
  height: 45rem;
  display: flex;
  grid-area: media;
}
.finance-text {
  color: var(--primary-color);
}
@media(max-width:500px){
  .banner-boxy{
    display: grid;
    grid-template-areas:
     "media"
     "details"

    ;
    border: 1px solid white
    }
}